.App {
  background-color: #2d2a2e;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

.bottom-block {
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
  background-color: #2d2a2e;
  border-radius: 6rem 6rem 0 0;
}
